{% extends 'base.html' %}

{% block title %}Editar Vacina{% endblock %}

{% block content %}
<h1>Editar Vacina</h1>

<form action="{{ url_for('editar_vacina', id=vacina.id) }}" method="post">
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" required maxlength="50" value="{{ vacina.tipo }}">
    </div>
    <div class="mb-3">
        <label for="fabricante" class="form-label">Fabricante</label>
        <input type="text" class="form-control" id="fabricante" name="fabricante" required maxlength="50" value="{{ vacina.fabricante }}">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('listar_vacinas') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
